POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=telemetry

# IMPORTANT:
# - Containers use kafka:9092
# - Host (your terminal, Node producer) uses localhost:29092
KAFKA_BROKER=localhost:29092
KAFKA_TOPIC=telemetry

MQTT_BROKER_URL=mqtt://mosquitto:1883
MQTT_TOPIC=telemetry

SPRING_PROFILES_ACTIVE=dev
